@{
    ViewBag.Title = "WorkAround - Home";
}

<div class="double-top-space">
    <div class="ink-grid">
        <div class="column-group">
            <div class="all-30"></div>
            <div class="all-70">
                <h1 class="uppercase">Find a job around</h1>
            </div>

        </div>
    </div>

    <div class="ink-grid">
        <div class="column-group">
            <div class="all-20"></div>
            
            <div class="all-60">
                <form action="" class="ink-form">
                    <div class="column-group">
                        <div class="control-group all-40">
                            <div class="control">
                                <input type="text" placeholder="Job title, keywords etc." />
                            </div>
                        </div>

                        <div class="control-group all-40">
                            <div class="control append-button">
                                <span>
                                    <input type="text" placeholder="City, state etc." />
                                </span>
                                <button class="ink-button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="all-20"></div>
        </div>
    </div>
</div>

