@{
    ViewBag.Title = "WorkAround - Profile";
}

Login: @CurrentUser.Email
<br />
Country: @CurrentUser.Country
<br />
Willing to relocate:
@if (@CurrentUser.WillingToRelocate)
{
    <span>yes</span>
}
else
{
  <span>no</span>
}